SpeechRecognition==3.8.1
pywin32==300
requests==2.25.1
pyjokes==0.6.0
ecapture==0.0.7
wolframalpha==5.0.0
feedparser==6.0.2
pyttsx3==2.90
winshell==0.6
wikipedia==1.4.0
clint==0.5.1
twilio==6.56.0
beautifulsoup4==4.9.3
